@use 'variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: $main-color;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
